version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "develop"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule: 
      interval: weekly
    target-branch: develop
