<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body onload=makeTocAndinitTheme()>
    <div/>
    {% include header.html %}
    <div id="docs-content">
      <div id="toc-container-container">
        <div id="toc-container">
          <div id="docs-header">
            <h1 id="docs-header-title"><a href="/documentation">Documentation</a></h1>
            {% include theme.html %}
          </div>
          <div id="docsearch"></div>
          {% for subdir in site.data.nav %}
            {% if subdir.toc[0] %}
              <div class="itemcontents">
                <ul class="sectlevel1">
                  <li class="submenu">
                    <a href="{{ site.baseurl }}{{ subdir.path }}">{{ subdir.title | markdownify }}</a>
                    <a href="#" class="hide">[-]</a>
                    <a href="#" class="show">[+]</a>
                  </li>
                  {% for item in subdir.toc %}
                    <div class="itemcontents">
                      <ul class="sectlevel1" class="droplist">
                        <li>
                          <a href="{{ site.baseurl }}{{ item.path }}">{{ item.title | markdownify }}</a>
                        </li>
                        {% if item.sections[0] %}
                          <div class="itemcontents">
                            <ul class="sectlevel1">
                              {% for entry in item.sections %}
                                <li>
                                  <a href="{{ site.baseurl }}{{ item.path }}#{{ entry.anchor }}">{{ entry.heading | markdownify }}</a>
                                  {% if entry.subsections[0] %}
                                    <ul>
                                      {% for subentry in entry.subsections %}
                                        <li>
                                          <a href="{{ site.baseurl }}{{ item.path }}#{{ subentry.anchor }}">{{ subentry.heading | markdownify }}</a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </ul>
                    </div>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div id="docs-container">
        <section id="content">
          <h1>{{ page.sub_title | markdownify | remove: '<p>' | remove: '</p>'}}</h1>
          {{ content }}
        </section>
      </div>
      <div id="on-this-page">
        <div id="on-this-page-inner">
          <h5>On this page</h5>
          <div id="toc">
            {{ page.document | tocify_asciidoc: 3 }}
          </div>
          <div id="tocbot">
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
    {% include search.html %}

  </body>
</html>
