<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body onload="makeToc()">
    <script type="text/javascript">initTheme()</script>
    <input type="checkbox" id="mobile-toggle" />
    {% include header.html %}
    <div id="docs-content">
      <div id="toc-container-container">
        <div id="toc-container">
          <div id="toc-inner">
            <div id="docs-header">
              <h1 id="docs-header-title">
                <a href="/documentation">
                  Documentation
                </a>
              </h1>
              <label class="mobile-menu-toggle" for="mobile-toggle">
                <div class="mobile-menu-toggle-inner"></div>
              </label>
              {% include theme.html %}
            </div>
            <div id="docsearch">
            </div>
          </div>
          <div class="toc">
          {% for subdir in site.data.nav %}
          {% if subdir.toc[0] %}
            <ul class="sectlevel1">
              <input class="toc-toggle-box" type="checkbox" id="{{ subdir.path }}"
                {% if page.url contains subdir.path %}
                checked=true
                {% endif %}
              />
              <li>
                <span>
                  <label class="toc-toggle" for="{{ subdir.path }}" onclick="event.stopPropagation()">
                    <div class="toc-toggle-container">
                      <a class="level1" href="{{ site.baseurl }}{{ subdir.path }}">
                        <a title="expand {{ item.title | markdownify }}"
                          {% if page.url contains subdir.path %}
                          class="bold toc-item"
                          {% else %}
                          class="toc-item"
                          {% endif %}
                        >
                          {{ subdir.title | markdownify }}
                        </a>
                      </a>
                    </div>
                  </label>
                </span>
              </li>
              {% for item in subdir.toc %}
              <div class="itemcontents">
                <ul class="sectlevel1">
                  <input class="toc-toggle-box" type="checkbox" id="{{ item.path }}"
                    {% if page.url contains item.path %}
                    checked=true
                    {% endif %}
                  />
                  <li>
                    <span>
                      <label class="toc-toggle" for="{{ item.path }}">
                        <div class="toc-toggle-container">
                          <a class="level2" href="{{ site.baseurl }}{{ item.path }}">
                            <a title="expand {{ item.title | strip_html }}"
                              {% if page.url contains item.path %}
                              class="bold toc-item"
                              {% else %}
                              class="toc-item" 
                              {% endif %}
                            >
                            {{ item.title | markdownify }}
                            </a>
                          </a>
                        </div>
                      </label>
                    </span>
                  </li>
                  {% if item.sections[0] %}
                  {% for entry in item.sections %}
                  <div class="itemcontents">
                    <ul class="sectlevel1">
                      <input class="toc-toggle-box" type="checkbox" id="{{ item.path }}#{{ entry.anchor }}"
                        {% if endcapture contains entry.anchor %}
                        checked=true
                        {% endif %}
                      />
                      <li>
                        <span>
                          <label class="toc-toggle"
                            {% if entry.subsections[0] %}
                            for="{{ item.path }}#{{ entry.anchor }}"
                            {% else %}
                            {% endif %}>
                            <div class="toc-toggle-container">
                              {% if entry.subsections[0] %}
                              <a class="level3">
                                <a
                                  id="{{ item.path }}#{{entry.anchor}}-toc"
                                  href="{{ site.baseurl }}{{ item.path }}#{{ entry.anchor }}"
                                  class="toc-item"
                                  onclick="document.getElementById('mobile-toggle').checked = false; updateCurrentToc('{{ item.path }}#{{ entry.anchor }}-toc', '{{ item.path }}#{{ entry.anchor }}');"
                                  title="expand {{ entry.heading | strip_html }}"
                                >
                                <script type="text/javascript">if (window.location.hash == '#{{ entry.anchor }}' && window.location.href.includes('{{ item.path }}')) initialiseCurrentToc('{{ item.path }}#{{entry.anchor}}-toc', '{{ item.path }}#{{ entry.anchor }}');
                                </script>
                                  {{ entry.heading | markdownify }}
                                </a>
                              </a>
                              {% else %}
                              <a class="level3">
                                <a id="{{ item.path }}#{{entry.anchor}}-toc"
                                  title="expand {{ entry.heading | strip_html }}"
                                  href="{{ site.baseurl }}{{ item.path }}#{{ entry.anchor }}"
                                  onclick="document.getElementById('mobile-toggle').checked = false; updateCurrentToc('{{ item.path }}#{{ entry.anchor }}-toc');"
                                  class="toc-item no-dropdown"
                                  >
                                  <script type="text/javascript">if (window.location.hash == '#{{ entry.anchor }}' && window.location.href.includes('{{ item.path }}'))
                                    initialiseCurrentToc('{{ item.path }}#{{entry.anchor}}-toc');
                                  </script>
                                  {{ entry.heading | markdownify }}
                                </a>
                              </a>
                              {% endif %}
                            </div>
                          </label>
                        </span>
                      </li>
                      {% if entry.subsections[0] %}
                      {% for subentry in entry.subsections %}
                      <div class="itemcontents">
                        <ul class="sectlevel1">
                          <li>
                            <span>
                              <label class="toc-toggle">
                                <div class="toc-toggle-container">
                                    <a class="level4">
                                      <a class="toc-item no-dropdown"
                                        href="{{ site.baseurl }}{{ item.path }}#{{ subentry.anchor }}"
                                        onclick="document.getElementById('mobile-toggle').checked = false; updateCurrentToc('{{ item.path }}#{{ entry.anchor }}-toc', '{{ item.path }}#{{ entry.anchor }}', '{{ item.path }}#{{ subentry.anchor }}-toc');"
                                        id="{{ item.path }}#{{subentry.anchor}}-toc"
                                      >
                                      <script type="text/javascript">if (window.location.hash == '#{{ subentry.anchor }}' && window.location.href.includes('{{ item.path }}')) initialiseCurrentToc('{{ item.path }}#{{ entry.anchor }}-toc', '{{ item.path }}#{{ entry.anchor }}', '{{ item.path }}#{{ subentry.anchor }}-toc');
                                      </script>
                                        {{ subentry.heading | markdownify }}
                                      </a>
                                    </a>
                                  </div>
                              </label>
                            </span>
                          </li>
                        </ul>
                      </div>
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </div>
                  {% endfor %}
                  {% endif %}
                </ul>
              </div>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
          
            <ul class="sectlevel1">
              <input class="toc-toggle-box" type="checkbox" id="datasheets"
              />
              <li>
                <span>
                  <label class="toc-toggle" for="{{ subdir.path }}">
                    <div class="toc-toggle-container">
                      <a class="level1">
                        <a title="PDF documentation" class="toc-item no-dropdown" href="https://datasheets.raspberrypi.com/" target="_blank">
                          <p>Datasheets</p>
                        </a>
                      </a>
                    </div>
                  </label>
                </span>
              </li>
            </ul>

            <ul class="sectlevel1">
              <input class="toc-toggle-box" type="checkbox" id="pip"
              />
              <li>
                <span>
                  <label class="toc-toggle" for="{{ subdir.path }}">
                    <div class="toc-toggle-container">
                      <a class="level1">
                        <a title="Raspberry Pi compliance documents" class="toc-item no-dropdown" href="https://pip.raspberrypi.com/" target="_blank">
                          <p>Product Information Portal</p>
                        </a>
                      </a>
                    </div>
                  </label>
                </span>
              </li>
            </ul>

            <ul class="sectlevel1">
              <input class="toc-toggle-box" type="checkbox" id="tutorials"
              />
              <li>
                <span>
                  <label class="toc-toggle" for="{{ subdir.path }}">
                    <div class="toc-toggle-container">
                      <a class="level1">
                        <a title="Hands-on hardware and software tutorials" class="toc-item no-dropdown" href="https://www.raspberrypi.com/tutorials/" target="_blank">
                          <p>Tutorials</p>
                        </a>
                      </a>
                    </div>
                  </label>
                </span>
              </li>
            </ul>

            <ul class="sectlevel1">
              <input class="toc-toggle-box" type="checkbox" id="forums"
              />
              <li>
                <span>
                  <label class="toc-toggle" for="{{ subdir.path }}">
                    <div class="toc-toggle-container">
                      <a class="level1">
                        <a title="User and product support forums" class="toc-item no-dropdown" href="https://forums.raspberrypi.com" target="_blank">
                          <p>Forums</p>
                        </a>
                      </a>
                    </div>
                  </label>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="docs-container">
        <div id="main-window">
          <section id="content">
            <h1>{{ page.sub_title | markdownify | remove: '<p>' | remove: '</p>'}}</h1>
            {{ content }}
          </section>

          <div id="on-this-page">
            <div id="on-this-page-inner">
              <h5>On this page</h5>
              <div id="toc">
                {{ page.document | tocify_asciidoc: 3 }}
              </div>
              <div id="tocbot">
              </div>
            </div>
          </div>
        </div>

        {% include legal.html %}
        {% include footer.html %}

        <!-- scripts that manipulate the page, placed at the bottom so they run after the page content has already loaded !-->
        <script async type="text/javascript" src="{{ site.baseurl }}/scripts/asciidoctor-tabs.js?ver={{ site.time | date: '%s' }}"></script>
        <script async type="text/javascript" src="{{ site.baseurl }}/scripts/clipboard.min.js?ver={{ site.time | date: '%s' }}"></script>
        <script async type="text/javascript" src="{{ site.baseurl }}/scripts/copy-to-clipboard.js?ver={{ site.time | date: '%s' }}"></script>

        {% include search.html %}
      </div>
    </div>
  </body>
</html>
