* {
  box-sizing: border-box;
}

div#tab-menu {
  width: 100%;
  height: 80px;
  padding-top: 5px;
  margin-top: 20px;
}

ul#tab-container {
  display: flex;
  gap: 5px;
  /* Set a maximum width to match the rest of the site and centre it horizontally. */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

ul#tab-container li {
  /* Tell all tabs to be the same width and to grow and shrink as needed. */
  flex: 1 1 0%;
  border-bottom: 4px solid #fff;
  padding-top: 20px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 20px;
}

ul#tab-container li.selected {
  border-bottom-color: var(--red);
}

ul#tab-container li a {
  font-size: 19px;
  font-weight: bold;
  color: #888888;
  vertical-align: middle;
  text-decoration: none;
}

ul#tab-container li.selected a {
  color: #343434;
}

p#release {
  text-align: right;
  padding-top: 10px;
  color: #888888;
  font-size: 0.9em;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

p#release + #container {
  margin-top: 75px;
}

@media screen and (max-width: 1219px) {
  ul#tab-container li {
    width: 200px;
  }
}

@media screen and (max-width: 912px) {
  div#tab-menu {
    height: auto;
  }
  ul#tab-container {
    display: block;
  }
  ul#tab-container li {
    display: block;
    width: 100%;
  }
}
