<footer class="o-footer" id="rp-app-landmark-footer">
    <div class="o-footer__slice">
        <div class="o-container o-footer__container">
            <div class="o-footer__nav">
                <div class="c-footer-nav">
                    <span class="c-footer-nav__title">About Us</span>

                    <ul class="c-footer-nav__list">
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/about">About us</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/about/meet-the-team">Our team</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/about/governance">Governance</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/safeguarding">Safeguarding</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/research-and-insights">Research</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="https://raspberrypi.workable.com/">Jobs</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="o-footer__nav">
                <div class="c-footer-nav">
                    <span class="c-footer-nav__title">Support</span>

                    <ul class="c-footer-nav__list">
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/help">Help</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/documentation">Documentation</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="https://projects.raspberrypi.org/">Projects</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/training">Training</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/software">Software</a>
                        </li>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="/forums">Forums</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="o-footer__newsletter">
                <form action="https://raspberrypi.hosted.phplist.com/lists/?p=subscribe&amp;id=1" class="c-footer-newsletter" method="POST">
                    <span class="c-footer-newsletter__legend">
                        Sign up to our newsletter
                    </span>
                    <input class="c-footer-newsletter__input" name="email" placeholder="Your email here" required="" type="email">
                    <input type="hidden" name="htmlemail" value="1">
                    <input type="hidden" name="list[3]" value="signup">
                    <input type="hidden" name="listname[3]" value="Raspberry Pi Weekly">
                    <input class="c-footer-newsletter__input--verification-code" type="text" name="VerificationCodeX" value="" size="20">
                    <button class="c-footer-newsletter__button" name="subscribe">
                        Subscribe
                    </button>
                </form>
            </div>

            <div class="o-footer__info">
                <ul class="c-footer-social">
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--facebook" href="https://www.facebook.com/raspberrypi">
                            <span class="u-visually-hidden">Like Raspberry Pi on Facebook</span>
                        </a>
                    </li>
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--twitter" href="https://twitter.com/Raspberry_Pi">
                            <span class="u-visually-hidden">Follow Raspberry Pi on Twitter</span>
                        </a>
                    </li>
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--instagram" href="https://www.instagram.com/raspberrypi/">
                            <span class="u-visually-hidden">Check out what we’re having for lunch on Instagram</span>
                        </a>
                    </li>
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--youtube" href="https://youtube.com/raspberrypi">
                            <span class="u-visually-hidden">Subscribe to the Raspberry Pi YouTube channel</span>
                        </a>
                    </li>
                </ul>

                <p class="c-footer-charity">
                    Raspberry Pi Foundation<br>
                    UK Registered Charity 1129409
                </p>

                <p class="c-footer-additional">
                    <a class="c-footer-additional__link" href="/privacy">Privacy</a>
                    <a class="c-footer-additional__link" href="/cookies">Cookies</a>
                    <a class="c-footer-additional__link" href="/trademark-rules">Trademark rules and brand guidelines</a>
                </p>
            </div>
        </div>
    </div>
</footer>
