<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta name="description" content="The official documentation for Raspberry Pi computers and microcontrollers">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="The official documentation for Raspberry Pi computers and microcontrollers">
<meta property="og:url" content="https://www.raspberrypi.com{{ page.url | relative_url }}">
<meta property="og:image" content="https://www.raspberrypi.com{{ "/images/opensocial.png" | relative_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Raspberry_Pi">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="The official documentation for Raspberry Pi computers and microcontrollers">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://IHWGNTJ1NP-dsn.algolia.net" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha"/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css?ver=1646652613">
<link rel="stylesheet" href="{{ site.baseurl }}/css/tabs.css?ver=1639581228">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180927933-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-180927933-8', { 'anonymize_ip': true });
</script>
