<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="The official documentation for Raspberry Pi computers and microcontrollers">
<meta property="og:url" content="https://www.raspberrypi.org{{ page.url | relative_url }}">
<meta property="og:image" content="https://www.raspberrypi.org{{ "/images/opensocial.png" | relative_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Raspberry_Pi">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="The official documentation for Raspberry Pi computers and microcontrollers">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,500,700|Space+Mono" media="all" type="text/css" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.raspberrypi.org/app/themes/mind-control/css/legacy.min.css?ver=1605195698">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/tabs.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46270871-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-46270871-1', { 'anonymize_ip': true });
</script>
