<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,500,700|Space+Mono" media="all" type="text/css" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.raspberrypi.org/app/themes/mind-control/css/legacy.min.css?ver=1605195698">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/tabs.css">