<nav id="contents">
{% for subdir in site.data.nav %}
{% if page.dir == subdir.path %}

  {% if subdir.toc[0] %}
    <h2><a href="{{ site.baseurl }}{{ subdir.path }}">{{ subdir.title }}</a></h2>
    {% for item in subdir.toc %}
      <h3 class="contentshead" onclick="expandAndCollapse(this)">{{ item.title }}</h3>
      {% if item.sections[0] %}
        {% if page.url == item.path %}
        <div class="itemcontents" id="toc"></div>
        <div class="itemcontents noJS">
          <ul class="sectlevel1">
            {% for entry in item.sections %}
              <li>
                <a href="{{ site.baseurl }}{{ item.path }}#{{ entry.anchor }}">{{ entry.heading }}</a>
                {% if entry.subsections[0] %}
                  <ul>
                    {% for subentry in entry.subsections %}
                      <li>
                        <a href="{{ site.baseurl }}{{ item.path }}#{{ subentry.anchor }}">{{ subentry.heading }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <div class="itemcontents">
          <ul class="sectlevel1">
            {% for entry in item.sections %}
              <li>
                <a href="{{ site.baseurl }}{{ item.path }}#{{ entry.anchor }}">{{ entry.heading }}</a>
                {% if entry.subsections[0] %}
                  <ul>
                    {% for subentry in entry.subsections %}
                      <li>
                        <a href="{{ site.baseurl }}{{ item.path }}#{{ subentry.anchor }}">{{ subentry.heading }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

{% endif %}
{% endfor %}
</nav>
