<!-- Script for the TOC toggle -->
<script src="{{ site.baseurl }}/scripts/nav.js" type="text/javascript"></script>

<!-- TOCify scripts -->
<script src="{{ site.baseurl }}/scripts/jquery-1.12.4.min.js"></script>
<script src="{{ site.baseurl }}/scripts/jquery-ui-1.13.0.custom.min.js"></script>
<script src="{{ site.baseurl }}/scripts/jquery.tocify.min.js"></script>

<!-- Copy To Clipboard scripts -->
<script src="{{ site.baseurl }}/scripts/clipboard.min.js"></script>
<script src="{{ site.baseurl }}/scripts/copy-to-clipboard.js"></script>

<script>
  function hasher(text, element) {
    return text.toLowerCase().replace(/ /g, "-").replace(/\./g, "-").replace(/[^-\w]/g, "").replace(/-+/g, "-");
  }
  $(function() {
    $("#toc").tocify({ showAndHide: false, hashGenerator: hasher, extendPage: false, ignoreSelector: ".discrete" });
  });
</script>

<script>
  var contents = document.getElementById("contents");
  contents.addEventListener('mouseenter', e => {
    contents.style.overflowY = 'auto';
  });

  contents.addEventListener('mouseleave', e => {
    contents.style.overflowY = 'hidden';
  });
</script>
