<!-- Asciidoctor tabs -->
<script src="{{ site.baseurl }}/scripts/asciidoctor-tabs.js?ver={{ site.time | date: '%s' }}" type="text/javascript"></script>

<!-- Copy To Clipboard scripts -->
<script src="{{ site.baseurl }}/scripts/clipboard.min.js"></script>
<script src="{{ site.baseurl }}/scripts/copy-to-clipboard.js?ver={{ site.time | date: '%s' }}"></script>

<!-- Some custom handling for whitepapers -->
<script src="{{ site.baseurl }}/scripts/whitepaper.js?ver={{ site.time | date: '%s' }}"></script>