name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/build-and-deploy.yml
    if: ${{ github.ref != 'refs/heads/develop' && github.ref != 'refs/heads/master' }}
    with:
      deploy: false

  staging-build:
    uses: ./.github/workflows/build-and-deploy.yml
    if: ${{ github.ref == 'refs/heads/develop' }}
    with:
      deploy: true
      environment: staging
      url: ${{ vars.STAGING_URL }}
    secrets: inherit

  production-build:
    uses: ./.github/workflows/build-and-deploy.yml
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      deploy: true
      environment: production
      url: ${{ vars.PRODUCTION_URL }}
    secrets: inherit
