name: Mirror repository

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  mirror:
    runs-on: [self-hosted, web]
    steps:
      - uses: actions/checkout@v6
        with:
          ref: master
          token: ${{ secrets.DOCUMENTATION_REPO_TOKEN }}
          fetch-depth: 0
      - run: git remote add documentation https://github.com/raspberrypi/documentation.git
      - run: git push --force documentation master
