name: Mirror repository

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  mirror:
    runs-on: [self-hosted, web]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: master
          token: ${{ secrets.DOCUMENTATION_REPO_TOKEN }}
          fetch-depth: 0
      - run: |
          if ! git config remote.documentation.url > /dev/null
          then
            git remote add documentation https://github.com/raspberrypi/documentation.git
          fi
      - run: git push --force documentation master
