name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '15 2 * * SUN'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v7
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
        stale-pr-message: 'This pull request has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
        stale-issue-label: 'stale issue'
        stale-pr-label: 'stale pull request'
        exempt-issue-labels: 'ready to merge,ready for copy-edit,paused,in progress,linked pull request,backlog'
        exempt-pr-labels: 'ready to merge,ready for copy-edit,paused,in progress,backlog'
        days-before-stale: 60
        days-before-close: 7
